<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>me.nettrash.Geo.background.refresh</string>
		<string>me.nettrash.Geo.background.apprefresh</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used for augmented reality to show nearby mountain peaks around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used to find nearby mountain peaks and show your position on the map.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion data is used for barometer altitude readings and AR peak positioning.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
